/* impostazioni generali */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.flex {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

#numeri {
    font-size: 25px;
    border: 5px solid black;
    padding: 5px;
    font-weight: bold;
    background-color: white;
}